
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';


html {
   height: 100%;
  }

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
  background-color: #e0e0e08f;
}

.btn-outline-success {
  font-size: 16px;
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.btn-outline-success:hover{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:focus{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
